* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
}

  #main-view{
    display:none;
    height: 100vh;
    background-color: #111111;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231e201f'/%3E%3Cstop offset='1' stop-color='%23111111'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23a52a2a' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23a52a2a' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.26'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }

  .main-nav {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    margin: 0;
    padding: 0;
    width: 600px;
    height: 150px;
  }
  
  .main-nav li {
    list-style: none;
    position: absolute;
    width: 200px;
    height: 200px;
    background: #000;
    transform: rotate(45deg);
    transition: 0.5s;
    margin: -100px;
    overflow: hidden;
    opacity: 0.5;
  }
  
  .main-nav li:hover {
    opacity: 1;
  }
  
  .main-nav li.item1 {
    top: 0;
    left: 0;
  }
  
  .main-nav li.item2 {
    bottom: 0;
    left: 25%;
  }
  
  .main-nav li.item3 {
    top: 0;
    left: 50%;
  }
  
  .main-nav li.item4 {
    bottom: 0;
    left: 75%;
  }
  
  .main-nav li.item5 {
    top: 0;
    left: 100%;
  }
  
  .main-nav li .bg {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
  }
  
   .main-nav li.item1 .bg {
    background: url(images/ano_novo.jpeg);
    background-size: cover !important;
    transform: rotate(180deg) !important;  
  }
  
  .main-nav li.item2 .bg {
    background: url(images/careca.jpeg);
    background-size: cover !important;
    background-position: center !important;
  }

  .main-nav li.item3 .bg {
    background: url(images/jantando_com_meus_avos.jpeg);
    background-size: cover !important;
    transform: rotate(90deg) !important;  
    background-position: center !important;
  }
  
  .main-nav li.item4 .bg {
    background: url(images/dente_bugado_pequeno.jpeg);
    background-size: cover !important;
    transform: rotate(180deg) !important;  
    background-position: center !important;
  }

  .main-nav li.item5 .bg {
    background: url(images/linda_foto_pequeno.jpeg);
    background-size: cover !important;
    transform: rotate(90deg) !important; 
  }

  .icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: #ffffff;
    border-radius: 25px;
    position: relative;
    transition: width 0.2s ease-in-out;
    display:none;
  }
  .animate__animated{
    animation-duration: 3s; 
  }

  .pulse {
    box-shadow: 0 0 0 rgba(99, 42, 42, 0.4);
    animation: pulse 2.5s infinite;
  }

  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(120, 120, 120, 0.4);
    }
    70% {
      -webkit-box-shadow: 0 0 0 15px rgba(120, 120, 120, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(120, 120, 120, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(120, 120, 120, 0.4);
      box-shadow: 0 0 0 0 rgba(120, 120, 120, 0.4);
    }
    70% {
      -moz-box-shadow: 0 0 0 10px rgba(120, 120, 120, 0);
      box-shadow: 0 0 0 15px rgba(120, 120, 120, 0);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(120, 120, 120, 0);
      box-shadow: 0 0 0 0 rgba(120, 120, 120, 0);
    }
  }

  .add-btn:hover {
    width: 120px;
    background-color: rgba(255,255,255, .1);
  }
  .add-btn::before,
  .add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
  }

  .add-btn:hover::after,
  .add-btn:hover::before{
    background: #f44336;
  }

  .add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .icon-btn:focus {
    outline: none;
  }
  .btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
  }
  .add-btn:hover::before,
  .add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
  }
  .add-btn:hover .btn-txt {
    opacity: 1;
  }

  #init-button{
    position: absolute;
    bottom:5%;
    left:50%;
    transform: translateX(-50%);
  }

  #heart-emoji{
    position: relative;
    top:1px;
    font-size: 20px;
  }

  #teamo{
    display:none;
    /* font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif; */
    font-weight: 400;
    font-size: 1em;
    color: white;
    text-shadow:0 0 3px #e0c6c6;
  }

  button.icon-btn{
    cursor:pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  #feliz-dia{
    height: 100vh;
    background-color: #ff2c2c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.12'%3E%3Cpath fill='%23ff5f4f' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ff8472' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23ffa697' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ffc5bd' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23ffe4e4' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23ffc4ba' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ffa391' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ff8069' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23ff5942' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ff1a1a' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
  }

  .writer{
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
    text-shadow:0 0 3px #e0c6c6;
  }

  #paragrafo-part{
    display:none;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='232' height='232' viewBox='0 0 90 90'%3E%3Ccircle fill-opacity='0.15' fill='%23aaaaaa' cx='45' cy='45' r='21'/%3E%3Cg fill='%23e50000' fill-opacity='0.15'%3E%3Ccircle cx='0' cy='90' r='10'/%3E%3Ccircle cx='90' cy='90' r='10'/%3E%3Ccircle cx='90' cy='0' r='10'/%3E%3Ccircle cx='0' cy='0' r='10'/%3E%3C/g%3E%3C/svg%3E");
  }

  #footer{
    width: 100%;
    padding: 7px;
    text-align:right;
    position: absolute;
    bottom: 3px;
    right: 7px;
  }

  #second-main{
    display:flex;
    height: 100%;
  }

  img {
    position: relative;
    left: 3%;
    max-height:100%; 
    width:auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 30px;
  }

  #mom-paragraph{
    margin: 60px 20px;
    color: gray;
    background: rgba(255, 255, 255, .7);
    padding: 10px 30px;
    border-radius:3px;
  }
  #mom-paragraph > p{
    font-size: 14px;
  }